<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softserve.tustanar.plugin">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application>
        <service
            android:name="com.softserve.tustanar.plugin.BackgroundService">
        </service>
    </application>
</manifest>

    <!-- android:installLocation="preferExternal" -->
